.about {
  @extend .header;
  padding-top: 4em;
  height: auto;
  padding-bottom: 2em;
}
.personal-information {
  position: relative;
  padding: 3em 0;
  width: 90%;
  margin: 0 auto;
  line-height: 1.75;
  h2 {
    margin-bottom: 0.75em;
  }
  li {
    margin-bottom: 0.5rem;
    list-style-type: none;
  }

  &::after {
    content: "";
    background-color: rgba(31, 104, 159, 0.15);
    z-index: -1;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(10%);
  }
}
.educational-background {
  @extend .personal-information;
  text-align: right;

  &::after {
    right: none;
    left: 0;
    transform: translateX(-10%);
  }
}
.work-experience {
  @extend .personal-information;
}
.technical-skills {
  padding-top: 2em;
  text-align: center;
  h2 {
    margin-bottom: 1em;
  }
}
.image-holder {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  @include set-bg(pallete(primary));
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-icon {
  font-size: 4em;
}
.image-png {
  filter: contrast(300%) grayscale(100%) brightness(300%);
  height: 4em;
}
.icon-invert {
  filter: invert(100%) contrast(300%) grayscale(100%);
  background: linear-gradient(#1f689f73, #1f689f73);
}

.image--width-fit {
  width: 100%;
  height: auto;
}
.image--width-70 {
  width: 70%;
}
.skill-row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
}
.skill {
  text-align: center;
}

.row-width-80 {
  width: 80%;
  margin: 0 auto;
}
