.about {
  @extend .header;
  padding-top: 4em;
}
.personal-information {
  position: relative;
  width: 93.75%;
  margin: 0 auto;
  line-height: 1.5;
  h2 {
    margin-bottom: 0.75em;
  }
  li {
    margin-bottom: 0.5rem;
    list-style-type: none;
  }

  &::after {
    content: "";
    background-color: rgba(31, 104, 159, 0.15);
    z-index: -1;
    width: 50%;
    height: 130%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(11%, -10%);
  }
}
