.about {
  @extend .header;
  padding-top: 4em;
}
.personal-information {
  position: relative;
  width: 93.75%;
  margin: 0 auto;
  line-height: 1.75;
  margin-bottom: 5em;
  h2 {
    margin-bottom: 0.75em;
  }
  li {
    margin-bottom: 0.5rem;
    list-style-type: none;
  }

  &::after {
    content: "";
    background-color: rgba(31, 104, 159, 0.15);
    z-index: -1;
    width: 50%;
    height: 130%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(11%, -10%);
  }
}
.educational-background {
  @extend .personal-information;
  text-align: right;

  &::after {
    right: none;
    left: 0;
    transform: translate(-11%, -10%);
  }
}
.work-experience {
  @extend .personal-information;
}
.technical-skills {
  text-align: center;
  h2 {
    margin-bottom: 1em;
  }
}
.image-placeholder {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: pallete(primary);
  margin-bottom: 1em;
}

.skill-row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
}
.skill {
  text-align: center;
}

.row-width-80 {
  width: 80%;
  margin: 0 auto;
}
