.footer {
  @include set-bg(pallete(dark));
  padding: 2em 0;
  h2,
  ul {
    padding-left: 1rem;
  }
  ul {
    list-style-type: none;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  & > * {
    width: 30%;
  }
}

.footer-button {
  @extend .banner-button;
  width: 100%;
  &--secondary {
    @extend .banner-button--secondary;
  }
}

@media screen AND (min-width: 1024px) {
  .footer {
    padding-left: 5em;
  }
}
