//portfolio style

.portfolio {
  padding-top: 2em;
  padding-bottom: 2em;
  @include set-bg(#1f689f);
  h2 {
    margin-bottom: 0.75em;
    text-align: center;
  }
}

//carousel code
.carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  // border: 5px solid black;
  position: relative;
}
.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: baseline;
  width: 100%;
  min-height: 33vh;
}
.carousel-tile {
  width: 100%;
}

.btn {
  height: 100%;
  position: absolute;
  z-index: 1;
  width: 20%;
  background-color: black;
  color: white;
  border: none;

  &-prev {
    left: 0;
    background: linear-gradient(
      to right,
      hsla(206, 67%, 37%, 0.514),
      hsla(206, 67%, 37%, 0)
    );
  }
  &-next {
    right: 0;
    background: linear-gradient(
      to left,
      hsla(206, 67%, 37%, 0.514),
      hsla(206, 67%, 37%, 0)
    );
  }
  &:focus {
    outline: none;
  }
}

@media screen AND (min-width: 550px) AND (orientation: landscape) {
  .carousel-container {
    min-height: 100vw;
  }
  .carousel-slide {
    min-height: 100vw;
  }
  .flip-card {
    height: 100vw;
  }
}
@media screen AND (min-width: 650px) {
  .carousel-container {
    // overflow: visible;
    width: 80%;
  }

  .btn-prev,
  .btn-next {
    display: none;
  }
  .carousel-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  #last-clone,
  #first-clone {
    display: none;
  }
}

@media screen AND (min-width: 1024px) {
  #portfolio h2 {
    font-size: 4em;
  }
  .carousel-slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
