* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-Regular.ttf");
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #1f689f;
  width: 100vw;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

.container {
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100vh;
}

.nav {
  background: rgba(29, 97, 150, 0.63);
  color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.nav-brand {
  font-weight: bold;
}

.nav-list {
  list-style-type: none;
  display: none;
  width: 100%;
  position: absolute;
  top: calc(3em + 2px);
  left: 0;
  text-align: center;
  background: inherit;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
  line-height: 2.5;
}

.nav-list > li:firstchild a {
  line-height: 3;
}

.nav-burger {
  color: white;
}

.header, .about {
  height: 100vh;
  position: relative;
}

.header-image-container {
  width: auto;
  height: 200px;
  position: absolute;
  right: 0;
  top: 50%;
}

.header-image {
  height: 100%;
}

.banner {
  height: 75vh;
  padding: 4rem 1.5em 0 1em;
  background: #1f679e;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 103, 158, 0.52)), to(rgba(31, 103, 158, 0.52))), url("parallax1.jpg");
  background: linear-gradient(rgba(31, 103, 158, 0.52), rgba(31, 103, 158, 0.52)), url("parallax1.jpg");
  background-size: cover;
  line-height: 1.5;
}

.banner-subheading {
  color: #dfdbdb;
  padding-top: 2em;
  font-size: 1rem;
  font-weight: normal;
}

.banner-heading {
  padding-top: 0.4em;
  font-weight: normal;
  font-size: 1.5rem;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.banner-button {
  padding: 0.7em 1em;
  outline: none;
  border: none;
  display: block;
  margin-bottom: 1em;
  width: calc(140px * 0.8);
  font-size: 0.79em;
  font-weight: bold;
  margin-right: 0;
}

.banner-button--main {
  background: white;
  color: #1f689f;
  border: #1f689f;
}

.banner-button--main:hover {
  background: #deedf9;
}

.banner-button--main:active {
  background: #d5e9f7;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.banner-button--secondary {
  background: #0e4e6d;
  color: white;
}

.banner-button--secondary:hover {
  background: #146e9a;
}

.banner-button--secondary:active {
  background: #136891;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.banner-button:focus {
  outline: none;
  border: none;
}

.banner-button:active {
  outline: none;
  border: none;
}

.about {
  padding-top: 4em;
}

.personal-information, .educational-background, .work-experience {
  position: relative;
  width: 93.75%;
  margin: 0 auto;
  line-height: 1.75;
  margin-bottom: 5em;
}

.personal-information h2, .educational-background h2, .work-experience h2 {
  margin-bottom: 0.75em;
}

.personal-information li, .educational-background li, .work-experience li {
  margin-bottom: 0.5rem;
  list-style-type: none;
}

.personal-information::after, .educational-background::after, .work-experience::after {
  content: "";
  background-color: rgba(31, 104, 159, 0.15);
  z-index: -1;
  width: 50%;
  height: 130%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(11%, -10%);
          transform: translate(11%, -10%);
}

.educational-background {
  text-align: right;
}

.educational-background::after {
  right: none;
  left: 0;
  -webkit-transform: translate(-11%, -10%);
          transform: translate(-11%, -10%);
}

.technical-skills {
  text-align: center;
}

.technical-skills h2 {
  margin-bottom: 1em;
}

.image-placeholder {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: #1f689f;
  margin-bottom: 1em;
}

.skill-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 1em;
}

.skill {
  text-align: center;
}

.row-width-80 {
  width: 80%;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */