@import "reset";
@import "config";
html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  @include set-bg(white);
  width: 100vw;
  min-height: 100vh;
  font-family: $sans-serif;
}
.container {
  overflow-x: hidden;
}
.nav {
  @include set-bg(hsla(206, 68%, 35%, 0.63));
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  &-brand {
    font-weight: bold;
  }
  &-list {
    list-style-type: none;
    display: none;
    width: 100%;
    position: absolute;
    top: 3em;
    left: 0;
    text-align: center;
    background: inherit;
    // display: flex;
    //width: 66%;
    //justify-content: space-between;
    a {
      text-decoration: none;
      color: inherit;
      line-height: 2.5;
    }
    & > li:firstchild a {
      line-height: 3;
    }
  }

  &-burger {
    color: white;
  }
}
.container {
  width: 100%;
  height: 100vh;
}
.header {
  height: 100vh;
  position: relative;
  &-image-container {
    width: 120px;
    height: 150px;
    position: absolute;
    bottom: 3em;
    left: 50%;
    // margin-left: -60px;
    transform: translateX(-50%);
    border: 5px solid rgb(219, 219, 219);
  }
  &-image {
    height: 100%;
  }
}

.banner {
  height: 75vh;
  padding: 4rem 1.5em 0 1em;
  @include set-bg(hsl(206, 67%, 37%));
  background: linear-gradient(
      hsla(206, 67%, 37%, 0.52),
      hsla(206, 67%, 37%, 0.52)
    ),
    url("parallax1.jpg");
  background-size: cover;
  line-height: 1.5;
  &-subheading {
    color: #dfdbdb;
    padding-top: 2em;
    font-size: 1rem;
    font-weight: normal;
  }
  &-heading {
    padding-top: 0.4em;
    font-weight: normal;
    font-size: 1.5rem;
    padding-bottom: 0.5em;
  }
  &-button {
    padding: 0.7em 1em;
    outline: none;
    border: none;
    &--main {
      @include set-bg(white);
      border: pallete(primary);
      &:hover {
        background: lighten(pallete(primary), 55%);
      }
      &:active {
        background: lighten(pallete(primary), 53%);
        transform: scaleY(0.98);
      }
    }
    &--secondary {
      @include set-bg(#0e4e6d);
      &:hover {
        background: lighten(#0e4e6d, 10%);
      }
      &:active {
        background: lighten(#0e4e6d, 8%);
        transform: scaleY(0.98);
      }
    }
    &:focus {
      outline: none;
      border: none;
    }
    &:active {
      outline: none;
      border: none;
    }
  }
}
@import "about";
