@import "reset";
@import "config";
html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  @include set-bg(white);
  width: 100vw;
  font-family: $sans-serif;
  overflow-x: hidden;
}
.container {
  overflow-x: hidden;
  width: 100%;
}

@import "nav";
.header {
  height: 100vh;
  position: relative;
  &-image-container {
    width: auto;
    height: 200px;
    position: absolute;
    right: 0;
    top: 50%;
    //border: 5px solid rgb(219, 219, 219);
  }
  &-image {
    height: 100%;
  }
}

.banner {
  height: 75vh;
  padding: 4rem 1.5em 0 1em;
  @include set-bg(hsl(206, 67%, 37%));
  background: linear-gradient(
      hsla(206, 67%, 37%, 0.52),
      hsla(206, 67%, 37%, 0.52)
    ),
    url("parallax1.jpg");
  background-size: cover;
  line-height: 1.5;
  &-subheading {
    color: #dfdbdb;
    padding-top: 2em;
    font-size: 1rem;
    font-weight: normal;
  }
  &-heading {
    padding-top: 0.4em;
    font-weight: normal;
    font-size: 1.5rem;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
  }
  &-button {
    padding: 0.7em 1em;
    outline: none;
    border: none;
    display: block;
    margin-bottom: 1em;
    width: calc(140px * 0.8);
    font-size: 0.79em;
    font-weight: bold;
    margin-right: 0;
    a {
      text-decoration: none;
      color: inherit;
    }
    &--main {
      @include set-bg(white);
      border: pallete(primary);
      &:hover {
        background: lighten(pallete(primary), 55%);
      }
      &:active {
        background: lighten(pallete(primary), 53%);
        transform: scale(0.98);
      }
    }
    &--secondary {
      @include set-bg(#0e4e6d);
      &:hover {
        background: lighten(#0e4e6d, 10%);
      }
      &:active {
        background: lighten(#0e4e6d, 8%);
        transform: scale(0.98);
      }
    }
    &:focus {
      outline: none;
      border: none;
    }
    &:active {
      outline: none;
      border: none;
    }
  }
}
@import "about";
@import "portfolio";
@import "footer";
